Repository Chaksack/apm: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate, go-mod-vendor, prometheus-rules

Path conditions:
  go-generate: any of: \.go$
  go-mod-vendor: any of: go\.mod$
  prometheus-rules: any of: (rules|alerts).*\.ya?ml$

2nd commit
  docs/deployment/monitoring-setup.md
  docs/operations/maintenance-procedures.md
  docs/operations/on-call-guide.md
  docs/training/certification-guide.md
  docs/training/onboarding-checklist.md
  docs/user-guides/gofiber-instrumentation.md
Due: none

Add package documentation and fix Go version in go.mod
  pkg/instrumentation/doc.go
Due: go-generate

readme update
  README.md
Due: none

2nd77144 commit
  CLAUDE.md
  projectplan.md
Due: none

2nd77144 commit
  examples/secure-api/main.go
  pkg/security/auth/apikey.go
  pkg/security/auth/jwt.go
  pkg/security/auth/rbac.go
  pkg/security/auth/types.go
  pkg/security/config.go
  pkg/security/middleware/api_security.go
  pkg/security/middleware/audit.go
  pkg/security/middleware/auth.go
  pkg/security/middleware/authorization.go
  pkg/security/middleware/csrf.go
  pkg/security/middleware/headers.go
  pkg/security/middleware/ratelimit.go
  pkg/security/middleware/validation.go
  pkg/security/validator/types.go
  pkg/security/validator/validator.go
Due: go-generate

2nd771445667 commit
  pkg/security/logging.go
Due: go-generate

Delete .idea directory
  .idea/.gitignore
Due: none

Delete CLAUDE.md
  CLAUDE.md
Due: none

Update go.mod
  go.mod
Due: go-mod-vendor

mod update
  cmd/apm/commands/init.go
  cmd/apm/commands/logs.go
  cmd/apm/main.go
  example/main.go
  examples/aws-cli-detection/main.go
  examples/aws-cli-detection/s3_test.go
  examples/aws-role-chain/main.go
  examples/azure-integration/main.go
  examples/cloud-integration/main.go
  examples/cloudformation-detection/go.mod
  examples/cloudformation-detection/main.go
  examples/cloudwatch-integration/cloudwatch_test.go
  examples/cloudwatch-integration/main.go
  examples/cross-account-roles/cross_account_test.go
  examples/cross-account-roles/go.mod
  examples/cross-account-roles/main.go
  examples/gcp-comprehensive/main.go
  examples/gofiber-app/go.mod
  examples/gofiber-app/main.go
  examples/secure-api/main.go
  examples/tool-integration/main.go
  examples/tracing_example.go
  go.mod
  internal/handlers/deployment.go
  internal/handlers/tools.go
  internal/routes/routes.go
  main.go
Due: go-generate, go-mod-vendor

bug fixes in deploy and security
  cmd/apm/commands/deploy.go
  pkg/security/config.go
Due: go-generate

update
  apm
Due: none

update
  cli
  cmd/cli/main.go
  go.mod
  go.sum
Due: go-generate, go-mod-vendor

update to git
  .golangci.yml
  apm
  cli
  docs/cloud-provider-integration.md
  docs/examples.md
  docs/instrumentation-guide.md
  go.mod
  go.sum
  internal/config/README.md
  pkg/instrumentation/doc.go
  pkg/security/middleware/audit.go
  pkg/security/middleware/auth.go
  pkg/security/middleware/authorization.go
  pkg/security/middleware/validation.go
  security-review-report.md
Due: go-generate, go-mod-vendor
